@media screen and (min-width:400px) and (max-width:768px){
  .container-big-card{
    margin-right: 5px;
    max-width: 600px;
    width: 100%;
    max-height: 700px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }

  .photo > a > img {
    width: 90%;
    min-width: 250px;
  }
  .time >p {
    font-size: 2vw;
    margin-top: 10px;
    color: #7a7a7a;
  }

  .title > a >h1{
    margin-top: 10px;
    font-size: 5vw;

  }

  .description > p{
    font-size: 4vw;
    margin-top: 4vw;
    color: #929191;
  }

  .container-big-card:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.151);
  }
}
