@media screen and (min-width:400px) and (max-width:768px){
.container-smallCard{

  width: 700px;
  max-height: 400px;
  display: flex;
  flex-direction: row-reverse;
  margin-left: 10px;

}

.rightCard{
  display: flex;
  flex-direction: column;
}

.time >p {
  font-size: 2vw ;
  margin-top: 10px;
  color: #7a7a7a;
}

.photo > a > img{
  width: 100%;
  min-width: 200px;
  min-height: 100px;

  margin-right: 0px;
}

.title > a> h1{
  margin-top: 10px;
  font-size: 4vw;
}

.container-smallCard:hover{
  transform: scale(1.05);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.151);
}

}
