<div class="container">
    <div class="cardLeft">
      <div [routerLink]="['']" class="circulo">E</div>
      <ul>
        <li><a href="www.linkedin.com/in/ederson-moreira-224144254" target="_blank" >Linkedin</a></li>
        <li><a href="https://github.com/EderDeev" target="_blank">GitHub</a></li>
        <li><a href="https://web.dio.me/users/eder_dev1?tab=skills" target="_blank">DIO</a></li>
      </ul>
    </div>

    <div class="cardRight">
      <a href="www.linkedin.com/in/ederson-moreira-224144254" target="_blank"> <img src="https://cdn-icons-png.flaticon.com/128/1384/1384171.png" alt=""></a>
      <a href="https://api.whatsapp.com/send/?phone=5591986271942&text&type=phone_number&app_absent=0" target="_blank"> <img src="https://cdn-icons-png.flaticon.com/128/3817/3817206.png" alt=""></a>
      <a href="https://github.com/EderDeev" target="_blank"> <img src="https://cdn-icons-png.flaticon.com/128/536/536452.png" alt=""></a>
    </div>
</div>
